<div ng-controller="appCtrl">
<div ng-controller="productListCtrl" id="productListCtrl">
<title>{{title}}</title>
  
           
       
	
<!--========= PAGE-COVER =========-->
<div class="page-cover" style="padding: 3px;">
	<div class="container-fluid row">		
		<div class="col-xs-6 text-center p0 text-white border-right">
			<div style="display: inline-block;position: relative;">
				<span class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-sort-amount-down"></i> Popularity
				</span>
				<ul class="dropdown-menu dropdown-alerts">
					<li><a href="#"><div>Popularity</div></a></li>
					<li class="divider"></li>
					<li><a href="#"><div>Price</div></a></li>
					<li class="divider"></li>
					<li><a href="#"><div>Title</div></a></li>
				</ul>
				
			</div>
		</div>
		<div class="col-xs-6 text-center p0 text-white">
			<span class="btn filter-box-open">
				<i class="fa fa-filter"></i> Filter
			</span>
		</div>
	</div><!-- end container-fluid -->
</div><!-- end page-cover -->

<div class="menu-list">
	<div class="text-center menu">
		<div class="tab-content">
			<ul class="list-unstyled">
					<li ng-repeat="product in products">
						<div class="dish-list">
							<img ng-src="{{cdnUrl+variant.image}}" on-error-src="{{cdnUrl}}assets/images/no_image/product.jpg" class="img-responsive" alt="dish-menu" />
							<div class="dish-list-text">
								<h4 class="m0"><a ng-href="menu-detail.html">{{product.title}}</a></h4>
								<p class="m0">{{product.brand_title}}</p>
								<h5><i class="fa fa-rupee-sign"></i>{{variant.sell_price}}
									<s style="font-size: 12px;">
										&nbsp;<i class="fa fa-rupee-sign"></i>{{variant.mrp}}&nbsp;
									</s>
								</h5>
								<select class="border-0" style="font-size: 16px;"
								ng-model="variant" ng-init="variant=product.variants[0]">
									<option ng-repeat="variant1 in product.variants track by $index" ng-value="variant1">
									{{variant1.variant_title}}
									</option>
								</select>
								
								</br>
								<button  style="margin-top: 5px;" class="btn" ng-click="addToCart(variant.product_variant_id)" >
									Add to cart<span><i class="fa fa-shopping-cart"></i></span>
								</button>
							</div>
						</div>
					</li>
				</ul>
		</div>
	</div>
</div>		
	
</div>
</div>