<div ng-controller="appCtrl">
<div ng-controller="productListCtrl">
<title>{{title}}</title>
  
           
       
	
<!--========= PAGE-COVER =========-->
<div class="page-cover">
	<div class="container-fluid row">
		<div class="col-xs-12 col-sm-12 text-right p0 text-white">
			<span class="pull-right btn filter-box-open">
				<i class="fa fa-filter"></i>
			</span>
			<span class="pull-right btn">
				<i class="fa fa-sort-amount-down"></i>
			</span>
			<span class="pull-right btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				Popularity
			</span>
			<ul class="dropdown-menu pull-right" role="menu">
				<li><a href="#">Popularity</a></li>
				<li><a href="#">Price</a></li>
				<li><a href="#">Title</a></li>
			</ul>
			
		</div>
	</div><!-- end container-fluid -->
</div><!-- end page-cover -->

<div class="menu-list">
	<div class="text-center menu">
		<div class="tab-content">
			<ul class="list-unstyled">
					<li ng-repeat="product in products track by $index">
						<div class="dish-list">
							<img ng-src="{{cdnUrl+variant.image}}" on-error-src="{{cdnUrl}}assets/images/no_image/product.jpg" class="img-responsive" alt="dish-menu" />
							<div class="dish-list-text">
								<h4 class="m0"><a ng-href="menu-detail.html">{{product.title}}</a></h4>
								<p class="m0">{{product.brand_title}}</p>
								<h5><i class="fa fa-rupee-sign"></i>{{variant.sell_price}}
									<s style="font-size: 12px;">
										&nbsp;<i class="fa fa-rupee-sign"></i>{{variant.mrp}}&nbsp;
									</s>
								</h5>
								<select class="border-0" style="font-size: 16px;"
								ng-model="variant" ng-init="variant=product.variants[0]">
									<option ng-repeat="variant in product.variants track by $index" ng-value="variant">
									{{variant.variant_value}} {{variant.variant_title}}
									</option>
								</select>
								
								</br>
								<button  style="margin-top: 5px;" class="btn">
									Add to cart<span><i class="fa fa-shopping-cart"></i></span>
								</button>
							</div>
						</div>
					</li>
				</ul>
		</div>
	</div>
</div>		
	
</div>
</div>