.merge-title-box{
	background:#eff3f6;
	padding:22px;
}
.merge-title-box div{
	line-height: 52px;
}.merge-title-box div.title{
	padding:10px 0;
	line-height: 22px;
}
.account-merge label::after {
    left: 6px;
	top:9px;
}
.account-merge .smart-radio-btn label::before{
	margin-top:3px;
}
.account-merge label {
	margin-right:10px;
}
.account-merge-secondary .smart-form input[type="text"],.account-merge-secondary .smart-form input[type="email"],.account-merge-secondary .smart-form input[type="tel"],.account-merge-secondary .smart-form textarea,.account-merge-secondary .smart-form .default-btn, .account-merge-secondary .smart-form a.default-btn,
.account-merge-secondary .smart-form .intl-tel-input.allow-dropdown .selected-flag, .account-merge-secondary .smart-form .intl-tel-input.separate-dial-code .selected-flag, .account-merge-secondary .smart-form .intl-tel-input.separate-dial-code .selected-flag:focus, .account-merge-secondary .smart-form .intl-tel-input .selected-flag .iti-arrow{
	border-color:transparent;
	border-style: solid;
	border-width:1px;
}
.account-merge .smart-form input[type="text"], .account-merge .smart-form input[type="text"]:hover, .account-merge .smart-form input[type="email"], .account-merge .smart-form input[type="email"]:hover, .account-merge .smart-form input[type="password"], .account-merge .smart-form input[type="password"]:hover, .account-merge .smart-form input[type="number"], .account-merge .smart-form input[type="number"]:hover, .account-merge .smart-form input[type="file"], .account-merge .smart-form input[type="file"]:hover, .account-merge .smart-form input[type="tel"], .account-merge .smart-form input[type="tel"]:hover,
.account-merge .btn.focus, .account-merge .btn:focus {
	height:40px!important;
	box-shadow: none;
}
.account-merge .form-group{width:calc(100% - 40px);}
.account-merge .calendar-btn{
	background:#fff;
	border-top:1px solid #ced4d8;
	border-right:1px solid #ced4d8;
	border-bottom:1px solid #ced4d8;
	border-radius:0 5px 5px 0;
	height:40px;
}
.account-merge .tagsinput,.add-account-section .tagsinput{
	height:120px;
}
.account-merge-secondary div.tagsinput{
	border: 1px solid transparent;
}
.account-merge-secondary div.tagsinput input,.account-merge-secondary div.tagsinput span.tag a{
	display: none;
}

.account-merge .smart-form .input-group input[type="text"]:hover{
	border-radius:5px 0 0 5px;
}

.account-merge .intl-tel-input.allow-dropdown .selected-flag, .account-merge .intl-tel-input.separate-dial-code .selected-flag, .account-merge .intl-tel-input.separate-dial-code .selected-flag:focus{
	margin-top:0;
}

.account-merge .dropdown{
	height:40px;
}
.account-merge .primary-bar{
	cursor:move;
	padding:7px 10px;
	background:#eff3f6;
}
.account-merge .section-draggable{
	border-radius:5px;
	height:33px;
}
.account-merge textarea,.add-account-section textarea{
	resize:none;
}
.account-merge input[disabled], .account-merge-secondary textarea[disabled] { background:#fff; border: 1px solid #ced4d8; color: #293239;}
.account-merge-secondary textarea[disabled] { background:#fff; border: 1px solid transparent; color: #293239;}
.account-merge input[disabled]:hover { background:#fff; border: 1px solid #ced4d8;color: #293239;}
.account-merge-secondary input[disabled]:hover, .account-merge-secondary textarea[disabled]:hover { background:#fff; border: 1px solid transparent;cursor: text;}
.account-merge-secondary .intl-tel-input .selected-flag,.account-merge-secondary .btn:not(:disabled):not(.disabled) {
    padding: 0 0 0 20px;
	pointer-events: none;
}
.account-merge-secondary .dropdown {
	pointer-events: none;
	color: #293239;
}
.account-merge .default-btn, .account-merge a.default-btn{
	color: #293239;
}
.account-merge-secondary .dropdown > .dropdown-toggle::after,.account-merge-secondary .flagstrap .dropdown-toggle::after,.account-merge-secondary .bootstrap-select > .dropdown-toggle::after{
	display:none;
}
.account-merge-secondary .calendar-btn{
	display:none;
}
.account-merge-primary .tag-instructions,.account-merge-primary .profile-controllers{
	display:inline-block;
}
.account-merge-secondary .tag-instructions,.account-merge-secondary .profile-controllers{
	display:none;
}
.account-merge-secondary .profile-pic{
	margin-left:20px;
}
.account-merge .flagstrap .dropdown-menu,.add-account-section .flagstrap .dropdown-menu{
	transform: translate3d(0px, 39px, 0px)!important;
	width:100%;
}
.flagstrap-h50 .flagstrap .dropdown-menu{
	transform: translate3d(0px, 49px, 0px)!important;
	width:100%;
}
.account-merge .flagstrap .btn:not(:disabled):not(.disabled),.add-account-section .flagstrap .btn:not(:disabled):not(.disabled) {
    background-color: #fff;
	border: 1px solid #ced4d8;
	height:40px;
	width:100%;
	text-align: left;
	font-size: 14px;
	padding-left: 6px;
}
.flagstrap-h50 .flagstrap .btn:not(:disabled):not(.disabled){
    background-color: #fff;
	border: 1px solid #ced4d8;
	height:50px;
	width:100%;
	text-align: left;
	font-size: 14px;
	padding-left: 6px;
}
.flagstrap-h50 .flagstrap .btn:disabled{
    background-color: #eff3f6;
	border: 0;
	height:50px;
	width:100%;
	text-align: left;
	font-size: 14px;
	padding-left: 6px;
	opacity:1;
}
.account-merge-secondary .flagstrap .btn:not(:disabled):not(.disabled) {
	padding-left: 20px;
}
.account-merge .flagstrap .dropdown-toggle::after,.add-account-section .flagstrap .dropdown-toggle::after{
	position: absolute;
    right: 24px;
	vertical-align: .12em;
    border-top: .35em solid;
    border-right: .35em solid transparent;
    border-bottom: 0;
    border-left: .35em solid transparent;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
	top: 16px;
}
.flagstrap-h50 .flagstrap .dropdown-toggle::after{
	position: absolute;
    right: 24px;
	vertical-align: .12em;
    border-top: .35em solid;
    border-right: .35em solid transparent;
    border-bottom: 0;
    border-left: .35em solid transparent;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
	top: 21px;
}
.flagstrap-h50 .flagstrap .btn:disabled::after{
	border:0;
}
.account-merge-secondary .btn:not(:disabled):not(.disabled) {
	border: 1px solid transparent!important;
}
.account-merge .flagstrap a,.add-account-section .flagstrap a,.flagstrap-h50 .flagstrap a{
	padding:11px 20px;
	display:block;
	cursor:pointer;
	color:#748089;
}
.account-merge .flagstrap a:hover,.add-account-section .flagstrap a:hover,.flagstrap-h50 .flagstrap a:hover{
	color:#293239;
}

/* Profile Preview Css */
.user-profile-preview{border:1px solid #ced4d8; border-radius: 50%; max-height: 130px; max-width: 130px; min-height: 130px; min-width: 130px;  width: 130px; height: 130px; display: inline-block;}
.user-profile-preview img {max-height: 130px; max-width: 130px; border-radius: 50%;}

/* Merge Preview Details */
.preview-title-box{
	background:#eff3f6;
	padding:10px 22px;
}
.preview-content-box{
	padding:10px 7px;
}
.section-preview{
	border-left:1px solid #ced4d8;
}
.preview-content-box div{
	line-height: 35px;
}
.preview-content-box div.title{
	line-height: 22px;
}


/* Single Account Page */
.single-thumb{border:1px solid #ebeff6;}
.dash-header-bg a.greylink:hover{
	background:#eff3f6;
	text-decoration:none;
	color:#293239;
}
.dash-header-bg a.defaultlink{
	border:1px solid #748089;
}
.dash-header-bg a.defaultlink:hover{
	background:#0092ff;
	text-decoration:none;
	border:1px solid #0092ff;
}
.single-account-btop{
	border-top:1px solid #cacfd2;
}
.single-account-bbottom{
	border-bottom:1px solid #cacfd2;
}
.single-account-bleft{
	border-left:1px solid #cacfd2;
}
.single-account-header{
	height:57px;
	max-height:57px;
}


.timeline-circle{
	border:1px solid #ced4d8;
	border-radius:50px;
	width:48px;
	height:48px;
	padding-top:11px;
	position:relative;
}
.timeline-circle::after { 
    content: "";
    width: 1px;
    height: 50px;
    background: #ced4d8;
    position: absolute;
    top: 47px;
    left: 23.5px;
}

a.recent-activity:last-of-type .timeline-circle::after { 
    content: "";
    width: 0px;
    height: 55px;
    background: #ced4d8;
    position: absolute;
    top: 47px;
    left: 23.5px;
}
.recent-activity:nth-of-type(9n+1) .timeline-circle{
	color:#36d1ff;
}
.recent-activity:nth-of-type(9n+2) .timeline-circle{
	color:#fdc100;
}
.recent-activity:nth-of-type(9n+3) .timeline-circle{
	color:#fd4b6d;
}
.recent-activity:nth-of-type(9n+4) .timeline-circle{
	color:#836bff;
}
.recent-activity:nth-of-type(9n+5) .timeline-circle{
	color:#90a1b5;
}
.recent-activity:nth-of-type(9n+6) .timeline-circle{
	color:#ff2231;
}
.recent-activity:nth-of-type(9n+7) .timeline-circle{
	color:#05c706;
}
.recent-activity:nth-of-type(9n+8) .timeline-circle{
	color:#ad5ade;
}
.recent-activity:nth-of-type(9n+9) .timeline-circle{
	color:#00b4b1;
}
a.recent-activity:hover{
	background:#eff3f6;
	text-decoration:none;
}

.add-account-section{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	z-index:101;
	background-color: rgb(255, 255, 255);
	box-shadow: -8px 0px 12.74px 0.26px rgba(28, 28, 28, 0.09);
}

.add-account-section .thumb-upload{
	position:relative;
}
.add-account-section a.thumb-upload-icon{
    background-color: rgba(67, 74, 84, 0.4);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    color: #ebeff6;
	display: none;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.add-account-section a.thumb-upload-icon:hover{
	text-decoration:none;
	color:#ebeff6;
}
.thumb-upload:hover a.thumb-upload-icon{
	display:block;
}
.add-account-section .calendar-btn{
	background:#fff;
	border-top:1px solid #ced4d8;
	border-right:1px solid #ced4d8;
	border-bottom:1px solid #ced4d8;
	border-radius:0 5px 5px 0;
	height:50px;
}
.caleran-popup{
	z-index: 102!important;
}
.screen-overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255,255,255,0.75);
	z-index:100;
}
.no-hover-focus .btn:focus {
	box-shadow: none;
}
.no-hover-focus .smart-form .input-group input[type="text"]:hover {
    border-radius: 5px 0 0 5px;
}
.add-account-scroll{
	height:calc(100% - 55px);
}
.add-account-section .intl-tel-input.allow-dropdown .selected-flag, .add-account-section .intl-tel-input.separate-dial-code .selected-flag, .add-account-section .intl-tel-input.separate-dial-code .selected-flag:focus {
    height: 50px;
    margin-top: 0px;
}

/* dashboard Stylesheet 
=================================*/
.dash-header-bg{
	background: url(../images/dash-header-bg.png) no-repeat center center; background-size: cover;
	min-height: 0px;
}
@media (min-width:768px){
	.dash-header-bg{
	background: url(../images/dash-header-bg.png) no-repeat center center; background-size: cover;
	min-height: 168px;
}
}

/* Conversion Section */
.conver-block{border: solid 1px #ced4d8;}
.conver-block-sepline{border: dashed 1px #ced4d8;}

/* Quick Overview Stylesheet */
.quick-overview-bg{
	background: url(../images/quick-overview-bg.png) no-repeat top center; background-size: 100%; height: auto; padding: 4%;
}
@media (min-width:992px){
	.quick-overview-bg{
	 height: 300px; 
}
}
@media (min-width:1200px){
	.quick-overview-bg{
	 height: 419px;
}
}
/* Traffic Graph Height */
#trafficgraph,#trafficgraph2,#trafficgraph3,#chart1,
#bargraph,#bargraph2,#bargraph3{height: 430px;}

/* Recent Team & Premium Account Activity css */
.recent-block{border: solid 1px #ced4d8;}
.recent-block .list-hover:hover{background: #eff3f6;}
@media (min-width:768px){
.recent-block .list-hover:first-child{padding-top: 30px;}
.recent-block .list-hover:last-child{padding-bottom: 30px;}
}
.icon-circle32{
	width: 32px;
	height: 32px;
	min-height: 32px;
	min-height: 32px;
	border: solid 1px #ced4d8;
	border-radius: 50%;
	display: inline-block;
	line-height: 32px;
	text-align: center;
}
/* Quick Links css */
.quicklinks-hover{border: solid 1px #ced4d8; min-height: 0;}
@media(min-width:768px){
.quicklinks-hover{border: solid 1px #ced4d8; min-height: 130px;}
}
.quicklinks-hover:hover{border-top: solid 1px #5498ff;border-left: solid 1px #5498ff; border-right: solid 1px #ad5add; border-bottom: solid 1px #ad5add;}


/* Business List Css*/
.businesslist-hover:hover{background: #eff3f6;}
.businesslist-hover:hover #flag:after{border-bottom: 16px solid #eff3f6;}

/* Application Module Css*/

/* Flag Css */
 #flag {
	width: 51px;
	height: 68px;
	padding-top: 6px;
	position: relative;
	background: #fd4b6d;
	color: white;
	text-align: center;
	margin-top: -15px;
	text-transform: capitalize;
}
#flag:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 16px solid #ffffff;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
} 
/* Line Through Css */
.lineThrough {
	position: relative;
}
.lineThrough:after {
	content: "  ";
	display: inline-block;
	height: 3px;
	background: #fd4b6c;
	position: absolute;
	top: 44%;
	left:0%;
	width: 100%;
}

/* Library Module css
======================================*/
/* Vertical Tabs */
.ui-vertical-tab.nav-pills .nav-link{
	padding: 12px 20px;
	color: #293239;
	text-decoration: none;
	border-radius: 0px;
}
.ui-vertical-tab.nav-pills .nav-link:hover{background: #eff3f6; border-radius: 0px;} 

.ui-vertical-tab.nav-pills .nav-link.active, .nav-pills .show > .nav-link{background: #eff3f6; border-radius: 0px;}

.ui-vertical-tab.nav-pills .nav-link i{color:#748089; padding-right:15px;}

/* 5 Grid Coloumn */
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1-5 {
	width: 100%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 25%;
		float: left;
	}				
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
	.left-100{left: -110px !important}
}
@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

.library-filter-option{position: relative; padding: 0; left: 0px;
width: auto;}

/* Library Block */
.library-block{height: 130px; background: #eff3f6;}
.library-block:hover{ height: 130px; border: solid 5px #ffffff;}

/* Library Img Height css */
.library-block img{max-height: 130px;}
.library-block:hover img{max-height: 120px;}

/* Library Video Img Icon css */
.lib-video-icon{
	position: absolute;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

/* Checkbox show on hover & Checkbox Active css */
.library-block .smart-checkbox-btn{position: absolute; right: 0px; top: -7px;}
.library-block:hover .smart-checkbox-btn label{display: block}

.library-block .smart-checkbox-btn label{display: none;}

.library-block .smart-checkbox-btn input[type="checkbox"]:checked + label{display: block !important}

/* Library Tooltip */
.library-tooltip-div{background: #293239; border-radius: 5px; position: absolute; white-space: nowrap; display: none; z-index: 9999;}

.library-tooltip-div:before {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.library-tooltip-div:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #293239;
	border-width: 5px;
}

/* Library Table View Button */
#lib-table-view{position: absolute; right: 0;z-index: 9;}

/* Library check dropdown */
.lib-check-drop-label label{padding-left: 10px !important;}
.left-25{left: -25px !important;}

/* Library Modal Popup*/
.library-modal-size{width: 95%; max-width: 100%;}
@media (min-width: 1200px) {
.library-modal-size{width: 1070px; max-width: 100%;}
}

.library-modal-header{border-color: #ced4d8;}
.library-table-padding .table td, .table th {
    padding: 8px;
}

.library-table-padding table tr:first-child td , 
.library-table-padding table tr:first-child th {
    padding-top: 0px;
}

/* library Image Preview Modal popup */
.full-screen-preview{margin: 0; padding: 0; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); pointer-events: auto;}
.cross-top-position{
	position: fixed;
	top: 0;
	right: 0;
	padding:20px;
	z-index: 99;
}


/* Gallery Next & Previous Button */
a.gallery-next,.gallery-next{background: #748089; padding: 9px 11px; text-decoration: none; border-radius: 5px 0px 0px 5px; display: inline-block; color: #ffffff; border-right: solid 1px #626f78;}
a.gallery-next:hover,
.gallery-next:hover{background: #afb7bc; text-decoration: none; color: #293239;}

a.gallery-prev,.gallery-prev{background: #748089; padding: 9px 11px; text-decoration: none; border-radius: 0px 5px 5px 0px; display: inline-block; color: #ffffff;}
a.gallery-prev:hover,
.gallery-prev:hover{background: #afb7bc; text-decoration: none; color: #293239;}



/*Add Segement Page*/
.andor-seperator{
	border-bottom:1px dashed #bfbfbf;
}

.switch-field {
	margin: auto;
    display: inline-block;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  padding: 6px 14px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label.switch_left{
	border: 1px solid #ced4d8;
}
.switch-field label.switch_right{
	border-top: 1px solid #ced4d8;
	border-bottom: 1px solid #ced4d8;
	border-right: 1px solid #ced4d8;
}
.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #0092ff;
  color:#fff;
  border: 1px solid #0092ff;
}

.switch-field label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.switch-field label:last-of-type {
  border-radius: 0 5px 5px 0;
}

a.segment-delete:hover{
	color:#ff2332;
}
a.segment-add:hover{
	color:#0895ff;
}


/* Business Accounts Module
===================================== */
.business-profile-thumb{
	width:135px;
	height:135px;
	background:#fff;
	border:5px solid #eff3f6;
	border-radius:100px;
	margin:auto;
}
.business-profile .bootstrap-select.btn-group.disabled, .business-profile .bootstrap-select.btn-group > .disabled{
	background: #eff3f6;
	border:0;
}
.business-profile .bootstrap-select.btn-group.disabled .dropdown-toggle::after {
    border: 0;
}

.installation-box{
  border: 1px solid rgb(206, 212, 216);
  border-radius: 5px;
}
/* Integration icon */
.integration-view-detail-drop{width: 100%;  box-shadow: 0px 5px 9.4px 0.6px rgba(28, 28, 28, 0.1);
}
@media (min-width:768px){
.inte-active-icon{margin-top: -14px;}
.integration-view-detail-drop{width: 600px;}
}

.triangle-top{position: relative; top: -2px;}

.disable-text .d-gblue-clr, .disable-text .vi-red-clr{color:#afb6bc;}



/* Web anlytics module css
===================================== */
@media (min-width:768px){
.view-detail-img-icon{position: absolute; right: 30px; top: 15px;}}

@media (max-width:991px){
.overview-icon{min-width: 50px; max-width: 50px;}}

/* Donut Chart */
#os-chart{ width: 300px;  height: 300px;}

/* Compare div fixed on scroll */
.compare-div{ width: 100%; position:relative;}
.compare-div.sticky-compare { position: fixed; background: #738089; color: #ffffff !important; top: 101px;  z-index: 9;}
.compare-div.sticky-compare .d-gblue-clr { color: #ffffff !important;}
.compare-div.sticky-compare .gblue-clr { color: #ffffff !important;}
.compare-div.sticky-compare .vl-gblue-bg { background: transparent !important; padding:0px !important;  }
.compare-mtop.margintop-div{margin-top: 226px;}
@media (min-width:768px){
.compare-mtop.margintop-div{margin-top: 137px;}
}


/* Notification Box module css
===================================== */
.notification-area .notification-box{border: solid 1px #ced4d8; border-top: 0; border-radius:0px !important; -webkit-transition: all 0.5s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.notification-area .notification-box:hover{transform:scaleX(1.010);box-shadow: 0px 0px 9.4px 0.6px rgba(28, 28, 28, 0.1);background: #eff3f6;
 -webkit-transition: all 0.5s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.notification-area .notification-box.active-noti{background: #eff3f6;}

.notification-area .notification-box:first-of-type{border-top: solid 1px #ced4d8; border-top-left-radius:5px !important; border-top-right-radius:5px !important;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;}

.notification-area .notification-box:last-child{border-bottom-left-radius:5px !important; ; border-bottom-right-radius:5px !important;}

/* Saglus Account Setting Box module css
===================================== */
.social-icon-size{width:50px; height: 50px; display: inline-block; line-height: 50px; padding-top: 4px;}
.Social-box-drop{width: 94%; margin-right: 10px; box-shadow: 0px 5px 9.4px 0.6px rgba(28, 28, 28, 0.1);
}
@media (min-width:768px){
.Social-box-drop{width: 500px; margin-right: 0px;}
}

/* Left Arrow Position */
.left-arrow-position.dropdown-menu.left-arrow::before,
.left-arrow-position.dropdown-menu.left-arrow::after{left: 7px }
/* Right Arrow Position */
.right-arrow-position.dropdown-menu.right-arrow::before,
.right-arrow-position.dropdown-menu.right-arrow::after{right: 7px !important }

/* Security Module */
.notification-circle{width: 36px; height: 36px; line-height: 36px; display: inline-block; border-radius: 50%; background: #eff3f6; border: solid 1px #ced4d8; color:#748089; text-align: center;}

