@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uy6kuc');
  src:  url('../fonts/icomoon.eot?uy6kuc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uy6kuc') format('truetype'),
    url('../fonts/icomoon.woff?uy6kuc') format('woff'),
    url('../fonts/icomoon.svg?uy6kuc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send-feedback:before {
  content: "\a286";
}
.icon-bounce-setting:before {
  content: "\a285";
}
.icon-instagram:before {
  content: "\a284";
}
.icon-oh-snap-two:before {
  content: "\a283";
}
.icon-oh-snap:before {
  content: "\a282";
}
.icon-on-bounce:before {
  content: "\a281";
}
.icon-on-unsubscribe:before {
  content: "\a280";
}
.icon-pinterest:before {
  content: "\a279";
}
.icon-player-customization:before {
  content: "\a278";
}
.icon-player:before {
  content: "\a277";
}
.icon-reddit:before {
  content: "\a276";
}
.icon-replace:before {
  content: "\a275";
}
.icon-subtitle:before {
  content: "\a274";
}
.icon-tumblr:before {
  content: "\a273";
}
.icon-video-detail:before {
  content: "\a272";
}
.icon-wait-time:before {
  content: "\a271";
}
.icon-warning-two:before {
  content: "\a270";
}
.icon-warning:before {
  content: "\a269";
}
.icon-your-creation:before {
  content: "\a268";
}
.icon-add-new-broadcast:before {
  content: "\a267";
}
.icon-advertisement:before {
  content: "\a266";
}
.icon-automation-next-two:before {
  content: "\a265";
}
.icon-automation-next:before {
  content: "\a264";
}
.icon-automation:before {
  content: "\a263";
}
.icon-create-your-own:before {
  content: "\a262";
}
.icon-down-n-updown:before {
  content: "\a261";
}
.icon-exclude:before {
  content: "\a260";
}
.icon-feame:before {
  content: "\a259";
}
.icon-heads-up-two:before {
  content: "\a258";
}
.icon-headsup:before {
  content: "\a257";
}
.icon-rejected:before {
  content: "\a256";
}
.icon-blog-icon:before {
  content: "\a255";
}
.icon-create-blog:before {
  content: "\a254";
}
.icon-draft:before {
  content: "\a253";
}
.icon-Like:before {
  content: "\a252";
}
.icon-live:before {
  content: "\a251";
}
.icon-locked:before {
  content: "\a250";
}
.icon-pending:before {
  content: "\a249";
}
.icon-private:before {
  content: "\a248";
}
.icon-public:before {
  content: "\a247";
}
.icon-reply:before {
  content: "\a246";
}
.icon-scheduled:before {
  content: "\a245";
}
.icon-unlike:before {
  content: "\a244";
}
.icon-add-new-allowed-ip-address:before {
  content: "\a243";
}
.icon-add-second:before {
  content: "\a242";
}
.icon-add-third:before {
  content: "\a241";
}
.icon-mail-scheduled:before {
  content: "\a240";
}
.icon-manage:before {
  content: "\a239";
}
.icon-menu-one:before {
  content: "\a238";
}
.icon-menu-two:before {
  content: "\a237";
}
.icon-opened-mail-one:before {
  content: "\a236";
}
.icon-redirect-link:before {
  content: "\a235";
}
.icon-refresh-final:before {
  content: "\a234";
}
.icon-send-mail:before {
  content: "\a233";
}
.icon-time-spent-on-website:before {
  content: "\a232";
}
.icon-view-in-detail-one:before {
  content: "\a231";
}
.icon-view-in-detail-two:before {
  content: "\a230";
}
.icon-account-authentication:before {
  content: "\a229";
}
.icon-acquisition-lead:before {
  content: "\a228";
}
.icon-add-three:before {
  content: "\a227";
}
.icon-add-with-circle:before {
  content: "\a226";
}
.icon-add:before {
  content: "\a225";
}
.icon-all-accounts:before {
  content: "\a224";
}
.icon-all-files:before {
  content: "\a223";
}
.icon-allowd-ip-address:before {
  content: "\a222";
}
.icon-android-phone:before {
  content: "\a221";
}
.icon-api-documentation:before {
  content: "\a220";
}
.icon-apps:before {
  content: "\a219";
}
.icon-audios:before {
  content: "\a218";
}
.icon-back:before {
  content: "\a217";
}
.icon-behaviour:before {
  content: "\a216";
}
.icon-bonus-setting:before {
  content: "\a215";
}
.icon-calendar:before {
  content: "\a214";
}
.icon-change-password:before {
  content: "\a213";
}
.icon-circle:before {
  content: "\a212";
}
.icon-clicked:before {
  content: "\a211";
}
.icon-compare:before {
  content: "\a210";
}
.icon-copy:before {
  content: "\a209";
}
.icon-cross:before {
  content: "\a208";
}
.icon-delete:before {
  content: "\a207";
}
.icon-desktop:before {
  content: "\a206";
}
.icon-disable:before {
  content: "\a205";
}
.icon-doc:before {
  content: "\a204";
}
.icon-dollar:before {
  content: "\a203";
}
.icon-dot-tick:before {
  content: "\a202";
}
.icon-dot:before {
  content: "\a201";
}
.icon-down-comma:before {
  content: "\a200";
}
.icon-down-dropdown:before {
  content: "\a199";
}
.icon-download:before {
  content: "\a198";
}
.icon-duplicate:before {
  content: "\a197";
}
.icon-edit:before {
  content: "\a196";
}
.icon-enable:before {
  content: "\a195";
}
.icon-exit-fullscreen-one:before {
  content: "\a194";
}
.icon-exit-fullscreen-two:before {
  content: "\a193";
}
.icon-export:before {
  content: "\a192";
}
.icon-facebook:before {
  content: "\a191";
}
.icon-feedback-one:before {
  content: "\a190";
}
.icon-feedback-two:before {
  content: "\a189";
}
.icon-file-upload:before {
  content: "\a188";
}
.icon-filter:before {
  content: "\a187";
}
.icon-folder:before {
  content: "\a186";
}
.icon-from-and-reply-mail:before {
  content: "\a185";
}
.icon-fullscreen-one:before {
  content: "\a184";
}
.icon-fullscreen-two:before {
  content: "\a183";
}
.icon-gplus:before {
  content: "\a182";
}
.icon-happy-customers:before {
  content: "\a181";
}
.icon-help:before {
  content: "\a180";
}
.icon-hide:before {
  content: "\a179";
}
.icon-home:before {
  content: "\a178";
}
.icon-html-manually:before {
  content: "\a177";
}
.icon-image:before {
  content: "\a176";
}
.icon-information:before {
  content: "\a175";
}
.icon-installed:before {
  content: "\a174";
}
.icon-integration:before {
  content: "\a173";
}
.icon-ipad:before {
  content: "\a172";
}
.icon-iphone:before {
  content: "\a171";
}
.icon-laptop:before {
  content: "\a170";
}
.icon-lead-score:before {
  content: "\a169";
}
.icon-life-time-value:before {
  content: "\a168";
}
.icon-linked-account:before {
  content: "\a167";
}
.icon-linkedin:before {
  content: "\a166";
}
.icon-location-two:before {
  content: "\a165";
}
.icon-location:before {
  content: "\a164";
}
.icon-login-alert:before {
  content: "\a163";
}
.icon-logout:before {
  content: "\a162";
}
.icon-mail:before {
  content: "\a161";
}
.icon-merge:before {
  content: "\a160";
}
.icon-minus:before {
  content: "\a159";
}
.icon-moon:before {
  content: "\a158";
}
.icon-more:before {
  content: "\a157";
}
.icon-move:before {
  content: "\a156";
}
.icon-next-one:before {
  content: "\a155";
}
.icon-notification:before {
  content: "\a154";
}
.icon-others-one:before {
  content: "\a153";
}
.icon-others-three:before {
  content: "\a152";
}
.icon-others-two:before {
  content: "\a151";
}
.icon-others:before {
  content: "\a150";
}
.icon-overview:before {
  content: "\a149";
}
.icon-person:before {
  content: "\a148";
}
.icon-present-in-list:before {
  content: "\a147";
}
.icon-present-in-segment:before {
  content: "\a146";
}
.icon-previous-one:before {
  content: "\a145";
}
.icon-print:before {
  content: "\a144";
}
.icon-refresh:before {
  content: "\a143";
}
.icon-rename:before {
  content: "\a142";
}
.icon-report:before {
  content: "\a141";
}
.icon-resend:before {
  content: "\a140";
}
.icon-result:before {
  content: "\a139";
}
.icon-saglus-help:before {
  content: "\a138";
}
.icon-sbuscription:before {
  content: "\a137";
}
.icon-search:before {
  content: "\a136";
}
.icon-session:before {
  content: "\a135";
}
.icon-settings:before {
  content: "\a134";
}
.icon-share:before {
  content: "\a133";
}
.icon-show:before {
  content: "\a132";
}
.icon-smart-marketers:before {
  content: "\a131";
}
.icon-smtp-setting:before {
  content: "\a130";
}
.icon-social-account:before {
  content: "\a129";
}
.icon-sortby:before {
  content: "\a128";
}
.icon-sorting:before {
  content: "\a127";
}
.icon-status:before {
  content: "\a126";
}
.icon-sun:before {
  content: "\a125";
}
.icon-table-view:before {
  content: "\a124";
}
.icon-technology:before {
  content: "\a123";
}
.icon-text-help:before {
  content: "\a122";
}
.icon-thumb-view:before {
  content: "\a121";
}
.icon-tick-one:before {
  content: "\a120";
}
.icon-tick:before {
  content: "\a119";
}
.icon-total-clicked-mail:before {
  content: "\a118";
}
.icon-total-conversion:before {
  content: "\a117";
}
.icon-total-known-audience:before {
  content: "\a116";
}
.icon-total-known-audience-1:before {
  content: "\a115";
}
.icon-total-opened-mail:before {
  content: "\a114";
}
.icon-total-segment:before {
  content: "\a113";
}
.icon-total-sent-mail:before {
  content: "\a112";
}
.icon-total-viewed-notification:before {
  content: "\a111";
}
.icon-total-viewed-videos:before {
  content: "\a110";
}
.icon-total-visited-pages:before {
  content: "\a109";
}
.icon-twitter:before {
  content: "\a108";
}
.icon-unique-visitor:before {
  content: "\a107";
}
.icon-update-log:before {
  content: "\a106";
}
.icon-upgrade:before {
  content: "\a105";
}
.icon-upper-comma:before {
  content: "\a104";
}
.icon-upper-dropdown:before {
  content: "\a103";
}
.icon-video-help:before {
  content: "\a102";
}
.icon-wordpress:before {
  content: "\a101";
}
